{% extends '::base.html.twig' %}

{% block body %}

{% include 'MainBundle::header.html.twig' %}

<h1>Dodano film do ulubionych</h1>

<a class="btn btn-primary" href="{{ referer }}">Powrót</a>
{% endblock %}