{% extends '::base.html.twig' %}

{% block body %}

{% include 'MainBundle::header.html.twig' %}

<h1>Zgłoszono komentarz do Administratora</h1>

<a class="btn btn-primary" href="{{ referer}}">Powrót</a>
{% endblock %}