{% extends '::base.html.twig' %}

{% block body %}

{% include 'MainBundle::header.html.twig' %}

<h1>Ban usunięty</h1>
<a class="btn btn-primary" href="{{ path('main_default_adminpanel') }}">Powrót</a>
{% endblock %}