<html>
<body>

{% include 'MainBundle::header.html.twig' %}

<a href="{{ path('main_default_admincomments') }}">Zgłoszone komentarze</a><br>
<a href="{{ path('main_default_adminsearchuser') }}">Usuń bana użytkownikowi</a><br>
<a href="{{ path('movies_new') }}">Dodaj film do serwisu</a><br>



</body>
</html>