<center><h1>Witam na podglądzie Panelu Administratora Webflixa</h1><hr></center>

Z oczywistych względów nie mogę pozwolić każdemu na dostęp do funkcji administratora. Chciałbym więc w tym miejscu przedstawić jego możliwości. Jeśli chciałbyś/chciałabyś zostać administratorem Webflixa i przetestować wszystkie funkcje w praktyce <a href="mailto:maciej.ostrows@gmail.com">skontaktuj się ze mną</a><hr>


Administrator po zalogowaniu ma dostęp do 3 opcji: "Zgłoszone komentarze", "Usuń bana użytkownikowi",
oraz "Dodaj film do serwisu".
<center><img src="{{ asset('allpage.png') }}" alt="Panel Administratora!" /></center><hr>


W przypadku kiedy użykownik zgłosi komentarz Administrator ma możliwość:<br>
Pozostawienia komentarza jeśli uzna, że komentarz nie narusza standardów.<br>
Usunięcia komentarza<br>
Usunięcia komentarza i zbanowania konta tego użytkownika.<br>

<center><img src="{{ asset('comments.png') }}" alt="Panel Administratora!" /></center><hr>

Istnieje możliwość usunięcia bana:<br>

<center><img src="{{ asset('ban.png') }}" alt="Panel Administratora!" /></center><hr>

Ostatnią opcją jest możliwość dodania filmu z poziomu Panelu Administratora. Nie trzeba wchodzić do bazy danych by to zrobić:<br>

<center><img src="{{ asset('movie.png') }}" alt="PanelAdministratora!" /></center>