{% extends '::base.html.twig' %}

{% block body %}

{% include 'MainBundle::header.html.twig' %}

<a class="btn btn-primary" href="{{ path('main_default_admincomments') }}">Zgłoszone komentarze</a><br><br>
<a class="btn btn-primary" href="{{ path('main_default_adminsearchuser') }}">Usuń bana użytkownikowi</a><br><br>
<a class="btn btn-primary" href="{{ path('movies_new') }}">Dodaj film do serwisu</a><br><br>



{% endblock %}