{% extends '::base.html.twig' %}

{% block body %}

{% include 'MainBundle::header.html.twig' %}

<h1>Komentarz usunięty i użytkownik zbanowany</h1>

<a class="btn btn-primary" href="{{ path('main_default_adminpanel') }}">Powrót</a>
{% endblock %}