{% extends '::base.html.twig' %}

{% block body %}

{% include 'MainBundle::header.html.twig' %}

{% for movie in result %}

    <div style = "float:left"><a href="{{ path('main_default_movieshow', {'id':movie.id}) }}">
        <img src="https://img.youtube.com/vi/{{ movie.thumbnail }}/mqdefault.jpg"><br>
            <h2>{{ movie.title }}</h2></a><br><hr></div>

{% endfor %}<div style = "clear:both"></div><hr>




{% endblock %}