<html>
<body>
{% for movie in result %}
    <a href="{{ path('main_default_movieshow', {'id':movie.id}) }}">{{ movie.title }}</a>  || {{ movie.rating }}<br>
    {{ movie.description }}<hr>

{% endfor %}




</body>
</html>