<center><h1>WEBFLIX</h1>


    <a href="{{ path('main_default_userpage') }}">Strona Główna</a>
    <a href="{{ path('main_default_allmovies') }}">Wszystkie filmy</a>
    <a href="{{ path('main_default_search') }}">Szukaj</a>
    <a href="{{ path('fos_user_security_logout') }}">Wyloguj się</a>




</center>
<hr>