{% extends '::base.html.twig' %}

{% block body %}

{% include 'MainBundle::header.html.twig' %}

{{ form(formRatings) }}

<a class="btn btn-primary" href="{{ path('main_default_movieshow', {id:id}) }}">Powrót</a>
{% endblock %}
