{% extends '::base.html.twig' %}

{% block body %}

{% include 'MainBundle::header.html.twig' %}

{{ form(form) }}

{% for movie in result %}
    <a class="btn btn-primary" href="{{ path('main_default_movieshow', {id:movie.id}) }}">{{ movie.title }}</a><br>
{% endfor%}
{% endblock %}